#splash-screen {
    position: fixed; width: 100%; height: 100%;
    display: flex; justify-content: center; align-items: center;
    background: #000; z-index: 999;
}
.fade-out { animation: fadeOut 0.5s 3s forwards; }
@keyframes fadeOut { to { opacity: 0; visibility: hidden; } }
